@charset "utf-8";

$primary: purple;
$family-sans-serif: "Rubik", BlinkMacSystemFont, -apple-system, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i");

@import "bulma/bulma.sass";

div.wcs__background_10.hero-body {
    $light-gray-overlay: rgba(0, 0, 0, 0.35);
    background: linear-gradient($light-gray-overlay, $light-gray-overlay),
        url("/content/code_stock.png");
    background-size: cover;
}

div.navbar-brand {
    span {
        font-size: 1.5em;

        &.parent {
            font-weight: normal;
            margin-right: 0.25rem;
        }

        &.product {
            font-weight: bold;
        }
    }
}

strong {
    color: inherit !important;
}
